.grid2 {
    display: grid;
    grid-template-columns: 90vw;
    grid-template-rows: 14vh 100vh 7vh;
    grid-template-areas: 
                        'nav nav'
                        'formcontent formcontent'
                        'footer footer';
    grid-row-gap: 2vh;
}

.grid2 .nav {
    grid-area: nav;
}

.grid2 .formcontent {
    /* justify-self: flex-end;    
    align-self: flex-end; */
    grid-area: formcontent;
    align-self: flex-end;

}
.formcontent{
    border-style: solid;
    border-width: 5px;
}

.grid2 .footer {
    grid-area: footer;
    /* position: fixed; */
    /* bottom: 0px; */
}

.form-contents {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90% 20%;
    grid-template-areas: 'form-questions'
                         'button-container';
    margin-top: 70px;
}

.form-questions {
    grid-area: form-questions;
}  

.button-container {
    align-self: center;
    grid-area: button-container;
    justify-self: center;
}  

#input-form-button {
    border: 3px solid #96d1f8;
    background: #e80c7a;
    padding: 14.5px 29px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

form {
	position: absolute;
	top: 50%;
    left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;
    margin-top: 2%;
}

fieldset {
    border: 0;
    width: 100%;
    outline: none;
    font-weight: bold;
    color: black;
    width: 100%;
    text-align: left;
}

input[type="radio"] {
    /* display: none; */
}
input[type="radio"] label {
		color: white;
		font-weight: bold;
		font-size: 1rem;
		cursor: pointer;
		user-select: none;
		padding-left: 20px;
        padding-right: 20px;
}

section.input-container label{
    position: relative;
    display: block;
    align-items: left;
}
section.input-container label input {
    display: block;
    padding: 10px;
    width: 100%;
    margin-bottom: 2%;
    background-color: white;
    font-weight: bold;
    color:#e80c7a;
}

section.input-container label span {
    font-size: .8rem;
    color: black;
    position: absolute;
    top: 0px;
    left: 20px;
}

section.input-container label textarea {
display: block;
padding: 2%;
width: 100%;
margin-bottom: 5%;
background-color: white;
font-weight: bold;
color:#e80c7a;
}
