body {
    background-image: url("css/background.jpeg");
}

.splash {
    position: absolute;
    top: 300px;
    left: 425px;
    color: yellow;
}

button {
    width: 284px;
    height: 62px;
    background: rgba(0,0,0,.5);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.right {
    float: right;
}

.center {
    margin: auto;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ccc;
    
  }
  
.social-icon {
    width: 20px;
    height: 20px;
    margin: 0 5;
  }