
body {
    font-weight: bold;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    /* margin-left: 10%;
    margin-right: 10% !important; */
    font: 400 .9rem system-ui;
}

.celeb-prop {
    font-weight: bold;
}

/* figure {
    margin: 2%; 
}
   */
/* img {
    display: block;
    width: 35%;
    height: 35%;
    -webkit-box-shadow: -3px 3px 0px rgba(0, 0, 0, 0.15);
            box-shadow: -3px 3px 0px rgba(0, 0, 0, 0.15); 
    justify-items: center;
    align-self: center;
} */


/****** grid *******/

main {
    display: grid;
    grid-template-columns: 90vw;
    grid-template-rows: 14vh 200vh 7vh;
    grid-template-areas: 
                        'nav'
                        'results-content'
                        'footer';
    grid-column-gap: 1vw;
    grid-row-gap: 2vh;
}


main .nav {
    grid-area: nav;
}

main .results-content {
    grid-area: results-content;
}

main .footer {
    grid-area: footer;
    align-self: flex-end;
}


.results-content {
    /* autoprefixer: off */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
}
  
.bio-pic-combo {
    border: 1px solid #E80C7A;
    margin: 2%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
}

.bio-pic-combo .celeb-name {
    /* grid-area: celeb-name; */
    align-self: flex-start;
}

.bio-pic-combo .bio {
    /* grid-area: bio; */
}

.bio-pic-combo .image {
    /* grid-area: image; */
    
    align-self: flex-end;
}



/* footer */

/* footer {
    text-align: left;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 100%;
    border-top: 1px solid #E80C7A;
    width: 100%;
} */

/* .social-icon {
    display: inline;
    margin: 0px 5px;
    box-shadow: none;
} */

@supports ((display: -ms-grid) or (display: grid)) {
    @media (max-width: 500px) {

    }
}